*{
    margin: 0%;
    padding: 0%;
}
      nav {
        display: flex;
        background-color: rgb(11, 11, 62);
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 1;
        font-size: 1.5rem;
        height:10%;
      }

      nav ul {
        font-size: large;
        display: flex;
        align-items: center;
        padding: 0 10%;
        list-style: none;
      }

      nav ul li a {
        font-size: 16px;
        padding: 0 15px;
        color: white;
        transition: 0.3s;
        text-transform: uppercase;
      }

      nav ul li a:hover {
        transition: 0.2s;
        color: aqua;
      }

      a {
        text-decoration: none;
      }
      .container {
        position: relative;
        width: 100%;
        /* max-width: 1200px; */
        /* margin: 0 auto;
        padding: 0 15px; */
      }

      .mowni {
        padding-top: 130px;
      }
      .mowni img {
        border-style: none;
        border-radius: 50%;
        margin: 0 auto;
        width: 400px;
        display: block;
        height: 400px;
      }

      h1 {
        color: rgb(102, 137, 227);
        text-align: center;
        font-size: 24px;
        margin: 30px 0px;
      }

      h2 {
        text-align: center;
      }

      .aboutme-text {
        width: 50%;
        color:azure;
        height: auto;
        background-color: rgb(11, 11, 62);
        text-align: center;
        padding: 40px 50px 70px;
        margin: 0 auto;
      }
  .top {
text-align: center;
color: black;
font-weight: bold;
   }
   .heading{
  font-size: "large";
    color: rgb(0, 170, 255);
   }
   p{
    padding: 2% 2%;
   }